.welcome {
    background-color: #6A0DAD;
    color: white;
    padding: 2rem;
    text-align: left;
    height: 50vh; /* Adjust based on navbar and footer height */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  .welcome h1 {
    font-size: 50px;
  }
  
  .create-cv {
    background-color: #fff;
    color: #6A0DAD;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
  }
  
  .genie-image {
    width: 200px;
    margin-top: 2rem;
  }
  